.logoImg {
    height: 30px;
    width: 30;
    margin: 0 20px 0 20px;
}

@media only screen and (min-width: 992px) {
    .vert {
      padding: 0 0.5em;
      border-right: 1px solid grey;
    }
  }

.profileImg {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 0 20px 0 10px;
}


